@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 250 250 250;
  --foreground: 17 24 39;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}

.focus-ring {
  @apply focus:outline-none focus:ring-2 focus:ring-brand-500 focus:ring-offset-2;
}
